ScadaCore/ReportManager/Connected Services/ServiceReference1/ReportManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReportManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50306/ReportManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50306/ReportManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50306/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManagerService_GetAlarmsWithinPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsWithinPeriod" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAlarmsWithinPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsWithinPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAlarmsOfPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsOfPriority" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAlarmsOfPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsOfPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValues" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetLastValuesOfTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastValuesOfTags" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetLastValuesOfTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastValuesOfTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagValuesWithinPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesWithinPeriod" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagValuesWithinPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesWithinPeriodResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportManagerService">
    <wsdl:operation name="GetAlarmsWithinPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsWithinPeriod" message="tns:IReportManagerService_GetAlarmsWithinPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsWithinPeriodResponse" message="tns:IReportManagerService_GetAlarmsWithinPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsOfPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsOfPriority" message="tns:IReportManagerService_GetAlarmsOfPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsOfPriorityResponse" message="tns:IReportManagerService_GetAlarmsOfPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetTagValues" message="tns:IReportManagerService_GetTagValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetTagValuesResponse" message="tns:IReportManagerService_GetTagValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastValuesOfTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetLastValuesOfTags" message="tns:IReportManagerService_GetLastValuesOfTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetLastValuesOfTagsResponse" message="tns:IReportManagerService_GetLastValuesOfTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagValuesWithinPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetTagValuesWithinPeriod" message="tns:IReportManagerService_GetTagValuesWithinPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetTagValuesWithinPeriodResponse" message="tns:IReportManagerService_GetTagValuesWithinPeriod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportManagerService" type="tns:IReportManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarmsWithinPeriod">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetAlarmsWithinPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsOfPriority">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetAlarmsOfPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagValues">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetTagValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastValuesOfTags">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetLastValuesOfTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagValuesWithinPeriod">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetTagValuesWithinPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportManagerService">
    <wsdl:port name="BasicHttpBinding_IReportManagerService" binding="tns:BasicHttpBinding_IReportManagerService">
      <soap:address location="http://localhost:50306/ReportManagerService.svc/R" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>