ScadaCore/HostScadaCore/Connected Services/ServiceReference2/SCADACoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SCADACoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50306/SCADACoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50306/SCADACoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50306/SCADACoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore" />
      <xsd:import schemaLocation="http://localhost:50306/SCADACoreService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITagProcessing_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_SetTagValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTagValue" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_SetTagValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTagValueResponse" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_GetTagValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValue" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_GetTagValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValueResponse" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_TurnScanOnOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOnOff" />
  </wsdl:message>
  <wsdl:message name="ITagProcessing_TurnScanOnOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOnOffResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IUserProcessing_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="ITagProcessing">
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagProcessing/AddTag" message="tns:ITagProcessing_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagProcessing/AddTagResponse" message="tns:ITagProcessing_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagProcessing/RemoveTag" message="tns:ITagProcessing_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagProcessing/RemoveTagResponse" message="tns:ITagProcessing_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTagValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagProcessing/SetTagValue" message="tns:ITagProcessing_SetTagValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagProcessing/SetTagValueResponse" message="tns:ITagProcessing_SetTagValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagProcessing/GetTagValue" message="tns:ITagProcessing_GetTagValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagProcessing/GetTagValueResponse" message="tns:ITagProcessing_GetTagValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnScanOnOff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagProcessing/TurnScanOnOff" message="tns:ITagProcessing_TurnScanOnOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagProcessing/TurnScanOnOffResponse" message="tns:ITagProcessing_TurnScanOnOff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserProcessing">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/RegisterUser" message="tns:IUserProcessing_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/RegisterUserResponse" message="tns:IUserProcessing_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/Login" message="tns:IUserProcessing_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/LoginResponse" message="tns:IUserProcessing_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProcessing/Logout" message="tns:IUserProcessing_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProcessing/LogoutResponse" message="tns:IUserProcessing_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITagProcessing" type="tns:ITagProcessing">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTag">
      <soap:operation soapAction="http://tempuri.org/ITagProcessing/AddTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <soap:operation soapAction="http://tempuri.org/ITagProcessing/RemoveTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTagValue">
      <soap:operation soapAction="http://tempuri.org/ITagProcessing/SetTagValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagValue">
      <soap:operation soapAction="http://tempuri.org/ITagProcessing/GetTagValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnScanOnOff">
      <soap:operation soapAction="http://tempuri.org/ITagProcessing/TurnScanOnOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserProcessing" type="tns:IUserProcessing">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IUserProcessing/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCADACoreService">
    <wsdl:port name="BasicHttpBinding_ITagProcessing" binding="tns:BasicHttpBinding_ITagProcessing">
      <soap:address location="http://localhost:50306/SCADACoreService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserProcessing" binding="tns:BasicHttpBinding_IUserProcessing">
      <soap:address location="http://localhost:50306/SCADACoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>