ScadaCore/HostScadaCore/Connected Services/ServiceReference2/SCADACoreService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IOAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="DITag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScanOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DITag" nillable="true" type="tns:DITag" />
  <xs:complexType name="AITag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alarms" nillable="true" type="tns:ArrayOfAlarm" />
          <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="ScanOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AITag" nillable="true" type="tns:AITag" />
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Threshold" type="xs:double" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low" />
      <xs:enumeration value="high" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
  <xs:complexType name="DOTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DOTag" nillable="true" type="tns:DOTag" />
  <xs:complexType name="AOTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AOTag" nillable="true" type="tns:AOTag" />
</xs:schema>