ScadaCore/TrendingApp/Connected Services/ServiceReference1/SCADACoreService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50306/SCADACoreService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IOAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="DITag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScanOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DITag" nillable="true" type="tns:DITag" />
  <xs:complexType name="AITag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Alarms" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="ScanOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AITag" nillable="true" type="tns:AITag" />
  <xs:complexType name="DOTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DOTag" nillable="true" type="tns:DOTag" />
  <xs:complexType name="AOTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AOTag" nillable="true" type="tns:AOTag" />
</xs:schema>