ScadaCore/AlarmDisplay/Connected Services/ServiceReference1/AlarmDisplayService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TriggeredAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarm" nillable="true" type="tns:Alarm" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TriggeredAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TriggeredAlarm" nillable="true" type="tns:TriggeredAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Threshold" type="xs:double" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low" />
      <xs:enumeration value="high" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
</xs:schema>